<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD9N_JjZZcyvaaA5-o9qJe_XqfetDQ-UE</string>
	<key>GCM_SENDER_ID</key>
	<string>928071065723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smt3finalpk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>heryfb-tgkuliah</string>
	<key>STORAGE_BUCKET</key>
	<string>heryfb-tgkuliah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928071065723:ios:da4900330a493a65e082de</string>
</dict>
</plist>